/* assets/css/custom.css */
body{background:#f8f9fa}
.card{box-shadow:0 2px 6px rgba(0,0,0,0.05)}

/* Estilo para destaque da página ativa no menu */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.active:focus,
.navbar-dark .navbar-nav .nav-link.active:hover {
    color: #fff; /* Cor do texto branco */
    background-color: rgba(255, 255, 255, 0.2); /* Um fundo levemente visível */
    border-radius: 4px;
}
